/* Encapsulated under the custom element. */

slice-treeview {
  display: block;
}

slice-treeview .simple_treeview {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  max-height: none;
  overflow-y: visible;
  overflow-x: hidden;
}
