slice-app {
   display: block;
   min-height: 100vh;
   background-color: var(--primary-background-color);
}

slice-app .app-navbar {
   z-index: 1000;
}

slice-app .app-content {
   padding-top: 72px;
   min-height: calc(100vh - 72px);
}