<div class="slice_dock" data-position="fixed" data-state="closed">
  <div class="slice_dock_capsule">
    <a class="slice_dock_logo"></a>

    <div class="slice_dock_drawer">
      <ul class="slice_dock_items"></ul>
      <div class="slice_dock_actions"></div>
    </div>

    <button class="slice_dock_toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
      <span class="slice_dock_toggle_lines">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  </div>
</div>
